.dropdown {
    position: relative;
    display: inline-block;
  
    .button {
      background: rgb(184, 86, 223);
      color: white;
      border: none;
      padding: 6px 8px;
      cursor: pointer;
      border-radius: 6px;
    }
  
    .menu {
      position: absolute;
      top: 100%;
      right: 0;
      background: white;
      border: 2px solid rgb(184, 86, 223);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      list-style: none;
      padding: 10px;
      margin: 0;
      width: 120px;
      opacity: 0;
      border-radius: 10px;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;
      z-index: 10;
    }

    @media (max-width: 425px) {
      .menu {
          left: 0;
      }
  }
  
    .menu.open {
      opacity: 1;
      transform: translateY(10px);
      pointer-events: auto;
    }
  
    li {
      padding: 5px 0;
  
      label {
        display: flex;
        align-items: center;
        cursor: pointer;
  
        input {
          margin-right: 10px;
          accent-color: rgb(184, 86, 223);
        }
      }
    }
  }